/*Description: BDB Audio News
Author: Fendi Susanto
Date & Time : 25 Nov 2016
*/

/*custom*/
footer .copyrights {
  border-top: 3px solid #2d2d2d;
  padding: 30px 0;
  background-color: #2d2d2d;
  height: 75px;
}
footer ul.bottom-link {
  list-style: none;
}
footer ul.bottom-link li {
  display: inline-block;
  padding: 0 5px;
}
footer ul.bottom-link li i {
  font-size: 6px;
}
footer ul.bottom-link li a {
  color: #eee;
  text-transform: uppercase;
}
footer a:hover {
  text-decoration: underline!important;
}
footer .btn-danger {
  background-color: #D5001E;
  border-color: #D5001E;
}
footer .copy-left {
  color: #ffffff;
}
footer .signup {
  color: #3b6daa;
  margin-left: -10px;
  -webkit-text-stroke-width: 0.5px;
}
.footer-left {
  text-align: left;
  margin-top: 50px;
  color: #ffffff;
}
/*FOOTER*/
#top-footer {
  background-color: white;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 0px;
}

#top-footer ul {
  margin-left: 14px;
  letter-spacing: 2px;
}
#top-footer ul.footer-link li a {
	font-size: 12px;
  color: #676464;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 11px;
  margin-bottom: 11px;
  font-family: Museo Sanslima;
}
#top-footer ul.footer-link li a:hover {
	color: black;
  background-color: white;
}
#top-footer ul.footer-link li.footer-space {
	color: #676464;
  font-weight: bold;
  font-size: 25px;
  font-family: Times;
  margin-right: 20px;
  margin-left: 20px;
}
.footer{
	background:#212224;
	color:#ffffff;
  /*margin-top: 50px;*/
  /*position: absolute;*/
  bottom: 0px;
  left: 0px;
  right: 0px;
}
@media(max-width: 767px) {
	/*footer-top*/
	#top-footer ul.footer-link {
		text-align: center;
    margin: auto;
    width: 80%;
	}
	#top-footer ul.footer-link li {
		float: left;
	}
	#top-footer ul.footer-link li a {
		font-size: .6em;
	}
	#top-footer ul.footer-link li.footer-space {
		margin-right: 5px;
		margin-left: 5px;
	}
  .footer{
    background:#212224;
    color:#ffffff;
    /*margin-top: 50px;*/
    /*position: absolute;*/
    bottom: 0px;
    left: 0px;
    right: 0px;
}
  footer .copyrights {
    border-top: 3px solid #2d2d2d;
    padding: 30px 0;
    background-color: #2d2d2d;
    height: 135px;
    text-align: center;
}
  footer .copy-left {
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    margin-bottom: 0px;
}

  footer ul.bottom-link li {
    display: inline-block;
    padding: 0 5px;
    line-height: 25px;
}
  footer ul.bottom-link {
    list-style: none;
    padding: 0px;
}
}
@media (min-width: 401px) and (max-width: 439px){
  footer .copy-left {
    color: #ffffff;
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 0px;
  }
}
@media(max-width: 400px){
  footer .copy-left {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0px;
}
.main-banner h2 {
    font-size: 2.2em;
    padding: 0px 8px 0px 8px;
    margin: 0px 15px 30px 15px;
    line-height: 45px;
}
}
@media(max-width: 320px){
  #top-footer ul.footer-link li a {
    font-size: .45em;
  }
  .footer{
    background:#212224;
    color:#ffffff;
    /*margin-top: 50px;*/
    /*position: absolute;*/
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.copy-text {
  padding-left: 0px;
  padding-right: 0px;
}
footer .copy-left {
    color: #ffffff;
    font-size: 11.7px;
    text-align: center;
    margin-bottom: 0px;
}
}