.template {
  background-color: #fff;
}

/*.collapse {
  margin-bottom: -2%;
}*/

html, body {
    height: 100%;
}

/*******************************************
  Icon Media Social
********************************************/
i.text {
  font-size: 10pt;
  padding-left: 5px;
  font-style: normal;
}

.top-icon {
  background-color: #4A4A4A;
}

ul.icon {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  margin-right: 40px;
  padding: 5px;
}

ul.icon li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 8px;
}

ul.icon li:last-child {
  padding-right: 0;
}

ul.icon li a {
  color: #fff;
}

ul.icon li a .fa {
  font-size: 20px;
}


/*******************************************
  Navbar
********************************************/
.navbar {
    position: fixed;
    z-index: 11;
    width: 100%;
} 

.navbar-brand {
    display: none;
}

.navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.05em;
}

.navbar .nav .nav-item {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 15px;
}
.navbar .nav .nav-item.active a {
  color: #ec6952;
  background: none;
  font-weight: bold;
}

.logo {
  margin-top: 5px;
  text-align: center;
}

.logo img {
  width: 262px;
  height: 75px;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .logo {
        display: none;
    }

    .navbar-brand {
        display: unset;
        font-weight: bold;
        float: none !important;
        padding: 0 !important;
    }

    .navbar-brand img{
        width: 40% !important;
    }

    .navbar {
        position: relative;
        margin: 0;
    }

    .navbar-header {
        margin: 15px;
    }

    .navbar-nav {
        display: block;
    }

    .slider {
        padding: 0 !important;
    }

    section {
        padding-top: 30px !important;
    }

    /*.section h2 {
        margin-top: 10px;
    }*/

    .page-2{
        text-align: center;
    }

    .apps .img-apps {
        width: 60%;
        margin-top: 30px !important;
    }

    .store .iconStore {
        margin-bottom: 10px;
    }
    
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 767px) and (max-width: 990px){
  .nav li a {
    position: relative;
    display: block;
    padding: 5px;
  }

  .navbar-nav {
    font-size: 1em;
  }

  .slider {
    padding: 90px 0 0 0 !important;
  }

  .logo img {
    width: 200px;
    height: 57px;
  }

  .page-2{
      text-align: center;
  }
  
  .apps .img-apps {
      width: 60%;
      margin-top: 30px !important;
  }

  .store .iconStore {
      margin-bottom: 10px;
  }
}
/*header*/
/*.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 130px;
} */
/*header*/

/*home*/
.slide h3 {
  font-size: 22px;
  background-color: #545655;
  margin-top: 0;
  margin-bottom: 0;
  padding: 9px 25px;
  width: 330px;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1;
  opacity: 0.7;
  text-align: left;
  text-transform: uppercase;
}
.slide .date{
  font-size: 10px;
  background-color: #545655;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -25px;
  padding: 9px 25px;
  width: 330px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1;
  opacity: 0.7;
  text-align: left;
}
.pad-0 {
    padding-bottom: 0;
    margin-left: -125px;
}
.carousel-control .glyphicon-menu-left,.glyphicon-menu-right {
  color: #6c7d8f;
  padding-top: 34em;
}
.page-1 .img-nurse {
  height: 26em;
  width: 100%;
}
.about {
  padding: 100px 0;
} 
.p-right {
  padding: 0 100px;
}
.p-right h4 {
  text-transform: uppercase;
  font-size: 25px;
  /*-webkit-text-stroke-width: 3px;
  line-height: inherit;
  letter-spacing: 4px;*/
  line-height: inherit;
  letter-spacing: 2px;
  font-weight: bold;
}
.head-line {
  text-align: center;
  width: 40%;
  border-bottom: 5px solid !important;
  color: #5adffe  ;
  margin-top: 0;
}
.head-line-1 {
  text-align: center;
  width: 10%;
  border-bottom: 5px solid !important;
  color: #5adffe  ;
  margin-top: 0;
}
.head-line-2 {
  text-align: center;
  width: 7%;
  border-bottom: 5px solid !important;
  color: #ffffff;
  margin-left: 13em;
  margin-top: 0;
  padding-left: 2em;
}
.p-right p {
  font-size: 18px;
}
.btn-more { 
  background-color: transparent;
  padding: 12px 50px;
  font-size: 16px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  -webkit-text-stroke: 0.5px;
  margin-top: 40px;
  border: 2px solid #5adffe;
  border-radius: 10px;
  color: #5adffe;
  outline: none;
}
.main-banner {
  background-color: #5adffe;
  background-size: cover;
  overflow: hidden;
  margin: 40px 0 0 0;
  padding: 7em 0;
}

.main-banner h4 {
  margin: 100px 10px;
}

.apps .img-apps {
  width: 60%;
  margin-top: -75px;
}
.page-2 {
  margin-top: -60px;
  padding-bottom: 50px;
}
.page-2 p {
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 18px;
}
.page-2 h4 {
  color: #ffffff;
  font-size: 25px;
  -webkit-text-stroke-width: 2px;
  letter-spacing: 4px;
}
.store{
    text-align: center;
}
.store h5{
  -webkit-text-stroke-width: 2px;
  letter-spacing: 2px;
}
.iconStore {
  width: 10em;
  height: 3em;
  padding-right: 15px;
}

.video-post h3 {
  -webkit-text-stroke-width: 2px;
  letter-spacing: 3px;
}

#quotes-section{
  background: #5adffe;    
  padding: 30px 0 70px 0;
  /*margin-bottom: 40px;*/
}
.slide h2 {
  padding-left: 7em;
  color: #433244;
  -webkit-text-stroke-width: 0.5px;
}
.quotes p{
    color: #ffffff;
    font-size: 22px;
    font-style: italic;
    padding-top: 15px;
    width: 500px;
}
.quotes p > b{
    color: #ffffff;
    font-size: 18px;
    font-style: italic;
    padding-top: 15px;
    font-weight: normal;
}
.show {
  display: block;
  padding-top: 20px;
}
#myCarousel2 ol.carousel-indicators .active {
  margin-bottom: -80px;
}
#myCarousel2 ol.carousel-indicators li {
  margin-bottom: -80px;
}
.btn-search {
    display: none;
    border: 0;
    padding-left: 10px;
    position: absolute;
    /*top: 43px;*/
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid #00BCD4;
    opacity: 0.8;
    width: 142px;
    display: none;
    height: 30px;
    z-index: 666;
    right: 170px;
    margin-top: 0;
    outline: none;
}
/*reset corousel*/
.carousel-control.left{
  background-image: none;
}
.carousel-control.right{
  background-image: none;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
/*end reset corousel*/
.list-video {
  background-color: #efefef;
}

/*home*/

/*faq*/
#faq{
    border-top: solid 5px #1a9e9e;
    margin-top: -6px;
  }

#title{
    padding:50px;
    background: #32cccc;
    height: 36em;
  }

#title h2{
    color: white;
    margin-left: 90px;
}

#toggle-view {
  list-style:none;
}

  #toggle-view .faq-content{
    margin:20px;
    position:relative;
    cursor:pointer;
    padding:15px;
    border:1px solid #1a9e9e;
    color: #1a9e9e;
  }

.faq-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

#toggle-view span {
    position:absolute;
    left:10px; top:9px; bottom: 0;
    /*color:#14a653;*/
    font-size: 20px;
}

#toggle-view .collapse {
    margin:5px 0;
    display:none;
} 

/*faq*/


/*artikel*/
.title-articles .link-post-detail {
  color: #6d6d6d;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: justify;
}
.media .date{
  color: #9E9E9E;
}
.media .comment {
  color: #9E9E9E;
}
.load-more {
    background-color: transparent;
    padding: 12px 50px;
    font-size: 16px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    -webkit-text-stroke: 0.5px;
    margin: 25px 0;
    border: 0;
    border-radius: 10px;
    color: #9E9E9E;
    outline: none;
}

/*artikel*/
#page {
  border-top: 0.05px solid #979797;
}
.panel-body {
  padding: 0;
}
h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.nav-wrap { 
  margin: 10px auto;  
  background-color: #fff; 
  border-top: 0 solid white; 
  border-bottom: 0 solid white; 
}

#magic-line { 
  position: absolute; 
  bottom: -2px; 
  left: 0; 
  width: 100px; 
  height: 2px; 
  background: #fe4902; 
}

.header-connect{
  margin-top: 0;

}

.btn-oval{
  outline-width: 0;
  border-radius: 50px;
}

.inline {
  padding: 0;
  text-align: left;
  font-family: Calibri;
  padding-bottom: 3px;
}

.inline a{
  color: #626262;
  font-weight: bold;
  text-transform: uppercase;
}

.inline > a, a:hover {
  color: #5adffe;
  text-decoration: none;
}

.inline a:focus {
  color: #5adffe;
  text-decoration: none; 
}

.inline > a {
  background-color: #fff;
  color: #000;
  
}

.inline > li{
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 30px;
  font-size: 15px;
}
.inline > li:last-child {
  margin-right: 0;
}

.inline > li:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
/*
.inline > li:hover:after {
  width: 100%;
  background: #5adffe;
}*/

.inline > li > div {
  display: none;
}


.content-post {
  font-family: calibri;
}

.content-post > div {
  padding-left: 0;
  padding-right: 0;
}

.btn-absolute {
  position: absolute;
  top: 410px;
  left: 90px;
}

.slide-post > p{
  display: none;
}

.slide-post .btn {
  display: none;
}

.slide-post:hover .btn {
  display: block;
}

.slide-post:hover > p{
  display: block;
}

.slide-anim {
  color:#fff;
  position:absolute;
  top:395px;
  width: 500px;
  height: 105px;
  background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
  cursor: pointer;
  overflow-y: hidden;
  transition: top 1.5s, opacity 1.5s;
  transition-property: all;
}

.slide-anim > h4{
  margin-top: 33px;
  margin-left: 35px;
  margin-right: 80px;
}

.slide-anim:hover{
  
  top: 250px;
  height: 250px;
}

.slide-anim:hover > h4 > p {
  margin-top: 33px;
  margin-left: 35px;
  margin-right: 80px;
}

.slide-anim:hover p {
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

.slide-anim:hover > button {
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

.slide-anim1 {
  color:#fff;
  position:absolute;
  top: 655px;
  width: 500px;
  height: 105px;
  background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
  cursor: pointer;
  overflow-y: hidden;
  transition: top 1.5s, opacity 1.5s;
  transition-property: all;
}

.slide-anim1 > h4{
  margin-top: 33px;
  margin-left: 35px;
  margin-right: 35px;
}

.slide-anim1:hover{
  
  top: 560px;
  height: 200px;
}

.slide-anim1:hover p {
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

.slide-anim1:hover > button {
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

.slide-anim2 {
  color:#fff;
  position:absolute;
  top: 340px;
  width: 240px;
  height: 160px;
  background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
  cursor: pointer;
  overflow-y: hidden;
  transition: top 1.5s, opacity 1.5s;
  transition-property: all;
}

.slide-anim2 > h4{
  margin-top: 33px;
  margin-left: 35px;
  margin-right: 35px;
}

.slide-anim2:hover{
  
  top: 150px;
  height: 350px;
}

.slide-anim2:hover p {
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

.slide-anim2:hover > button {
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

.slide-anim3 {
  color:#fff;
  position:absolute;
  top: 600px;
  width: 240px;
  height: 160px;
  background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
  cursor: pointer;
  overflow-y: hidden;
  transition: top 1.5s, opacity 1.5s;
  transition-property: all;
}

.slide-anim3 > h4{
  margin-top: 33px;
  margin-left: 35px;
  margin-right: 35px;
}

.slide-anim3:hover{
  
  top: 520px;
  height: 240px;
}

.slide-anim3:hover p {
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

.slide-anim3:hover > button {
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

.slide-anim4 {
  color:#fff;
  position:absolute;
  top: 340px;
  width: 240px;
  height: 160px;
  background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
  cursor: pointer;
  overflow-y: hidden;
  transition: top 1.5s, opacity 1.5s;
  transition-property: all;
}

.slide-anim4 > h4{
  margin-top: 33px;
  margin-left: 35px;
  margin-right: 35px;
}

.slide-anim4:hover{
  
  top: 260px;
  height: 240px;
}

.slide-anim4:hover p {
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

.slide-anim4:hover > button {
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

.slide-anim5 {
  font-family: calibri;
  color:#fff;
  position:absolute;
  top: 39%;
  width: 38%;
  height: 56%;
  left: 12%;
  background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
}

.slide-anim5 h5{
  display: none;
}

.slide-anim5 > h3{
  margin-top: 33px;
  margin-left: 38px;
  margin-right: 35px;
  margin-bottom: 0;
  font-size: 35px;
}

.slide-anim5 p {
  margin-top: 0;
  margin-left: 38px;
  margin-right: 35px;
  text-align: justify;
}

.slide-anim5 > button {
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 38px;
  margin-right: 35px;
  cursor: pointer;
}

.slide-anim5:hover > button {
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 38px;
  margin-right: 35px;
  cursor: pointer;
}

.slide-anim6 {
  font-family: calibri;
  color:#fff;
  position:absolute;
  top: 39%;
  width: 38%;
  height: 56%;
  left: 12%;
  background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
}

.slide-anim6 h5{
  display: none;
}

.slide-anim6 > h3{
  margin-top: 33px;
  margin-left: 38px;
  margin-right: 35px;
  margin-bottom: 0;
  font-size: 35px;
}

.slide-anim6 p {
  margin-top: 0;
  margin-left: 38px;
  margin-right: 35px;
  text-align: justify;
}

.slide-anim6 > button {
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 38px;
  margin-right: 35px;
  cursor: pointer;
}

.slide-anim6:hover > button {
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 38px;
  margin-right: 35px;
  cursor: pointer;
}

.slide-anim7 {
  font-family: calibri;
  color:#fff;
  position:absolute;
  top: 39%;
  width: 38%;
  height: 56%;
  left: 12%;
  background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
}

.slide-anim7 h5{
  display: none;
}

.slide-anim7 > h3{
  margin-top: 33px;
  margin-left: 38px;
  margin-right: 35px;
  margin-bottom: 0;
  font-size: 35px;
}

.slide-anim7 p {
  margin-top: 0;
  margin-left: 38px;
  margin-right: 35px;
  text-align: justify;
}

.slide-anim7 > button {
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 38px;
  margin-right: 35px;
  cursor: pointer;
}

.slide-anim8 {
  font-family: calibri;
  color:#fff;
  position:absolute;
  top: 39%;
  width: 38%;
  height: 56%;
  left: 12%;
  background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
}

.slide-anim8 h5{
  display: none;
}

.slide-anim8 > h3{
  margin-top: 33px;
  margin-left: 38px;
  margin-right: 35px;
  margin-bottom: 0;
  font-size: 35px;
}

.slide-anim8 p {
  margin-top: 0;
  margin-left: 38px;
  margin-right: 35px;
  text-align: justify;
}

.slide-anim8 > button {
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 38px;
  margin-right: 35px;
  cursor: pointer;
}

.slide-anim8:hover > button {
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 38px;
  margin-right: 35px;
  cursor: pointer;
}

/*.slide-anim7:hover > button, {
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 38px;
  margin-right: 35px;
  cursor: pointer;
}*/

.image1 {
  background-image: url("../img/post/image_1.png");
  background-size: cover;
}

.image2 {
  background-image: url("../img/post/image_2.png");
  background-size: cover;
}

.image3 {
  background-image: url("../img/post/image_3.png");
  background-size: cover;
}

.image4 {
  background-image: url("../img/post/image_4.png");
  background-size: cover;
}

.image5 {
  background-image: url("../img/post/image_5.png");
  background-size: cover;
}

.img {
  width:500px;
  height:500px;
  margin-bottom: 20px;
}

.img2 {
  width:500px;
  height:240px;
  margin-bottom: 20px;
}

.img3 {
  height: 500px;
  margin-bottom: 20px;
  width: 240px;
}

.img4 {
  width:240px;
  height:240px;
  margin-bottom: 20px;
}

.img5 {
  width:660px;
  height:240px;
}

.img6 {
  width:100%;
}

.img11 {
  width:225px;
  height:225px;
  padding-left:15px;
  padding-bottom:15px;
  padding-top:15px;
}

.img12 {
  width:100%;
}

.img13 {
  width: 285px;
  height: 180px;
}

.img14 {
  width: 280px;
}

.img15 {
  width: 280px;
  height: 475px;
}

.img16 {
  width: 280px;
  height: 475px;
}

.judul {
  background-color: #CF021B;
  color: #FFF;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 100;
  display: block;
}

.judul h5{
  font-size: 12px;
  display: block;
}

.pad-img {
  padding-left: 10px;
}

.addspace {
  background-color: #cccccc;
}

.addspace > h4 {
  color: #929292;
  position: absolute;
  padding: 68px;
  padding-top: 100px;
}

.addspace2 {
  background-color: #cccccc;
}

.addspace2 > h4 {
  color: #929292;
  position: absolute;
  padding: 68px;
  padding-top: 100px;
}

.addspace3 {
  background-color: #cccccc;
  width: 660px;
  height: 240px;
  margin-top: 79px;
}

.addspace3 > h4 {
  color: #929292;
  position: absolute;
  padding: 68px;
  padding-top: 100px;
  padding-left: 45%;
}

/*.back-footer {
  border-top: 5px solid  rgb(192,0,0) ;
}*/

.blackfooter {
  background-color: #000;
  height: 80px;
}

.blackfooter div {
 padding-left: 8px;
}

.blackfooter p {
  /*padding-top: 15px;*/
  color: #fff;
  font-size: 14px;
  font-family: calibri;
}

.greyfooter {
  background-color: #222;
  height: 230px;
}

.greyfooter h4{
  color: #fff;
  text-align: center;
  width: 80%;
}

.greyfooter p{
  color: #fff;
  font-size: 9pt;
  padding-top: 10px;
}

.footer1 {
  padding-left:-5px;
  padding-top: 15px;
}
.footer1 img {
  width: 70%;
}

.footer2 {
  padding-left: 50px;
  padding-top: 15px;
}

.footer2 h4{
  padding-left: 10px;
}
.footer2 div{
  padding-right: 0;
}

.footer2 div > ul > li{
  list-style-type:none;
}

.footer3 {
  padding-left:-5px;
  padding-top: 15px;
  margin-left: 40px;
}

.footer-link {
  font-family: calibri;
  font-size: 16px;
}

.footer-link a{
  color: #fff;
}

.footer-link a:hover{
  color: #5adffe;
}

.footer-link-pad ul{
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
}

.footer-link-pad li{
  padding-bottom: 12px;
  padding-left: 0;
}


.footer-img1 {
  width:50px;
  height:50px;
  margin-bottom:10px;
  margin-top:10px;
}

.footer-img2 {
  width:50px;
  height:50px;
  margin-bottom:10px;
  margin-top:10px;
}

.footer-img3 {
  width:50px;
  height:50px;
  margin-bottom:10px;
  margin-top:10px;
}

.footer-img4 {
  width:50px;
  height:50px;
  margin-bottom:10px;
  margin-top:10px;
}

.footer-img5 {
  width:60px;
  height:50px;
  margin-bottom:10px;
  margin-top:10px;
}

.footer-img6 {
  width:50px;
  height:50px;
  margin-bottom:10px;
  margin-top:10px;
}

.footer-img7 {
  width:50px;
  height:50px;
  margin-bottom:10px;
  margin-top:10px;
}

.footer-img8 {
  width:50px;
  height:50px;
  margin-bottom:10px;
  margin-top:10px;
}

/*belum*/
.slide-tag:visited,
.slide-tag:focus div{
  background-color: rgb(192,0,0);
  color: #fff;
  cursor: pointer;
}
/*end belum*/

.hovered:hover {
  background-color: rgb(192,0,0);
  color: #fff;
  cursor: pointer;
}
.hovered:hover .arrow-up {
  border-bottom-color: rgb(192,0,0);
  display: block;
}

.readmore {
  margin-top:0;
  margin-bottom:20px;
}

.readmore a{
  color: #000;
  padding-left: 80px;
}

.readmore a:hover {
  color: #5adffe;
  padding-left: 80px;
}

/*.email {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  color: #ADADAD;
}*/

.slide-anim:hover .btn-transparan {
  display: block;
}

.slide-background-size {
  display: none;
}

.image-background-size {
  display: none;
} 

.btn-daftar {
  color: #FFF;
  background-color: #C80000;
  padding-left: 20px;
  margin-left: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-right: 20px;
  font-size: 14px;
}

.btn-daftar:hover {
  color: #FFF;
  background-color: #F00000;
}

.btn-light-blue {
  color: #FFF;
  background-color: #32cccc;
  margin-top: 10px;
}

.btn-light-blue:hover {
  color: #FFF;
  background-color: #bfd534;
  margin-top: 10px;
}

/*.container-float > hr {
  float: left;
  width: 100%;
}*/

.container-float{
  float: left;
  width: 100%;
}


.navbar-none {
  border-bottom: none;
}

/*.nav-icon {
  margin-right: 35%;
}

.nav-icon > p {
  padding-right: 37%;
  margin-bottom: 5px;
  font-family: calibri; 
}

.icon {
  margin-bottom: 0;
  padding: 0;
  text-align: left;
}

.icon > li {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 0;

}

.icon a {
  color: #000;
}

.fb {
  padding: 6px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 5px;
  padding-left: 10px;
}

.fb:hover {
  margin-right: 0;
  padding-left: 9px;
  padding-right: 10px;
  padding-top: 5px;
  border: 1px solid #3a589b;
  border-radius: 100px;
  background: #3a589b;
  color: #fff;
}

.ig {
  padding: 6px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
}

.ig:hover {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  border: 1px solid #895a4d;
  border-radius: 100px;
  background: #895a4d;
  color: #fff;
}

.twitter {
  padding: 6px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
}

.twitter:hover {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  border: 1px solid #55acee;
  border-radius: 100px;
  background: #55acee;
  color: #fff;
}

.youtube {
  padding: 6px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
}

.youtube:hover {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  border: 1px solid #cf3427;
  border-radius: 100px;
  background: #cf3427;
  color: #fff;
}*/

.bottom-space {
  padding-bottom: 25px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #fff;
  margin-left: 105px;
  position: absolute;
  margin-top: -125px;
  display: none;
}

/*.text-center .nav{
  text-align: center;
}
.logo {
    text-align: center;
}
.garis-vertical {
  border-right: 1px solid #999;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 15px;
}*/

.footer-vertical {
  border-right: 1px solid #999;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 18px;
}
.bottom-link p{
  padding-top: 0;
  margin-bottom: 0;
}
 
.bottom-link a {
  color: #fff;
  padding-left: 5px;
}

.bottom-link a:hover {
  color: #cf021b;
}

.bottom-link i {
  font-size: 5pt;
  margin-left: 5%;
  margin-right: 5%;
}

.daftar {
  margin-top:1px;
  height:45px;
}

.login {
  font-size: 14px;
}

.msite-menu-login {
    display: none;
}

.nav-search {
  margin: 5px;
  font-size: 17px;
  padding-left: 10px;
}

.searchnavbar {
  display: none;
}

.slide-img {
  margin-top: -15px;
}

.post {
  padding-left:0
}

.slide-block {
  padding-left: 0;
}

.slide-block div {
  padding-left: 0;
  padding-right: 0;
}

.slide-block div > div.active {
  background-color: #C00000;
  color: #fff;
}

.slide-block div > div {
  height:130px;
}

.slide-block div > div > h3 {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
}

.slide-block .arrow-up.active {
  width: 0;
  height: 0;
  background-color: transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #fff;
  margin-left: 70px;
  position: absolute;
  margin-top: -15px;
  border-bottom-color: rgb(192,0,0);
  display: block;
}

.fb-icon {
  position: absolute;
  left: 50%;
  top: -55%;
}

.content-podcast {
  font-family: calibri;
}

.content-podcast > div {
  padding-left: 0;
  padding-right: 0;
}

.radioschedule {
  width: 100%;
  height: 260px;
  background-color: #fff;
  padding-right: 0;
}

.radioschedule div {
  padding-top: 10px;
  padding-left: 13px;
  padding-right: 13px;
}

.radioschedule div > div > span > i {
  padding-left: 0;
  color: #CF021B;
  padding-bottom: 57px;
}

.row-icon {
  padding-top: 16px;
}

.schedule-dokter div {
  padding-left: 12px;
}

.schedule-dokter div > span {
  padding-bottom: 6px;
}

.schedule-dokter div > p {
  padding-left: 0;
  margin-bottom: 0;
}

.content-podcast .schedule {
  padding-left: 8px;
}

.bottom-line {
  border-bottom: 1px solid #999;
  margin-right: 83%;
  margin-left: 8%;
}

.slide-schedule {
  color:#fff;
  position:absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
  cursor: pointer;
}

.slide-schedule h5{
  display: none;
}

.slide-schedule > h4 {
  padding-left: 25px;
  padding-top: 30px;
  padding-right: 65px;
}

.slide-schedule > p {
  padding-left: 25px;
  padding-right: 65px;
  margin-bottom: 5px;
}

.schedule-list > h5 {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0pc; 
}

.schedule-list > p {
  padding-left: 0;
  color: #c0c0c0;
  font-size: 13px;
  margin-bottom: 5px;
}

.schedule-time p {
  
  color: #CF021B;
  margin-bottom: 1px;
  margin-top: -3px;
  padding-left: 16px;
  padding-right: 0;
}

.row-time {
  padding-bottom: 21px;
}

.row-time2 {
  padding-top: 19px;
}

.radio-list {
  border-bottom: 1px solid #999;
  margin-right: -42%;
  margin-left: -14%;
  margin-top: 11px;
  margin-bottom: 11px; 
}

.doctors-menu {
  width: 330px;
  height: 440px;

}

.dokterclass {
  color:#fff;
  position:absolute;
  bottom: 0;
  width: 330px;
  height: 240px;
  background: rgba(255, 255, 255, 0.68) none repeat scroll 0% 0%;
  cursor: pointer;
}

.dokterclass h4 {
  color: #cf021b;
  font-size: 24px;
  padding-left: 25px;
  padding-top: 5px;
}

.dokterclass p {
  color: #555;
  padding-left: 25px;
  padding-right: 25px;
  text-align: justify;
  margin-bottom: 2px;
  margin-top: 10px;
  padding-bottom: 0;
  line-height: 18px;
}

.dokterclass span {
  color: #cf021b;
  padding-left: 25px;
}

.dokterclass em {
  color: #555;
  padding-left: 10px;
}

.dokterclass h5 {
  color: #cf021b;
  text-align: center;
}

/*.stage {
width: 19%;
height: 130px;
background: rgb(192,0,0);
position: absolute;
-webkit-transform: translate(99%,0);
            -moz-transform: translate(99%,0);
            -o-transform: translate(99%,0);
            -ms-transform: translate(99%,0);
}*/


.modal-content {
  width: 50%;
  font-family: Calibri;
  border-radius: 0;
  margin: 30% 23% 23% 23%;
    
}

.btn-buat-akun {
  border: 1px solid #C80000;
  background-color: transparent;
  color: #C80000;
  padding: 3% 8%;
  margin-top: 5%;
}

.btn-masuk {
  color: #FFF;
  background-color: #C80000;
  margin-left: 4%;
  padding: 3% 8%;
  margin-top: 5%;
}

.login-akun {
  padding: 7% 10%;
}

.lupapsswd {
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 5%;
}

.daftar-akun {
  padding: 7% 10%;
  text-align: right;
  margin-bottom: 5%;
}

.form-control-feedback {
  margin-right: 5%;
}

.username {
  color: #3cde39;
}

sup {
  color: #C80000;
}

.btn-glyphicon { 
  padding: 3px 7px;
  background: transparent;
  margin-right: 6px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.btn-glyphicon-2 { 
  padding: 3px 2px 2px;
  background: transparent;
  margin-right: 6px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.icon-btn { 
  padding: 5px 15px 7px 8px; 
  border-radius:50px;
  padding-right: 11%;
  margin-bottom: 10%;
  background-color: #3c589a;
}

.icon-btn-2 { 
  padding: 5px 35px 7px 8px; 
  border-radius:50px;
  margin-bottom: 10%;
  background-color: #ea4335;
}

.icon-btn i {
  color: #fff;
}

.icon-btn-2 i {
  color: #fff;
}

.icon-daftar {
  text-align: center;
}

.icon-login {
  text-align: center;
}

.search-line {
  
  top:50%;
}

.dropdown-user {
  right: 0;
  left: auto;
  display: none;
}

.img-profil {
  border-radius: 50%;
  width: 21%;
  float: left;
  margin-right: 5%;
  margin-left: 2%;
}

.profil-menu {
  min-width: 230px;
  margin-left: 30%;
  margin-top: -1%;
  position: absolute;
  border: none;
  border-radius: 0%;
  box-shadow: none;
  background-color: #eee;
  padding-bottom: 0%;
  padding-top: 0%;
}

.profil-menu p {
  font-size: 12px;
  margin-bottom: 3%;
}

.profil-menu h4 {
  margin-bottom: 0%;
  margin-top: 0%;
}

.profil-menu li > a {
  background-color: #eee;
  padding-top: 5%;
  padding-bottom: 5%;
}

.profil-menu li > a:hover {
  background-color: #C80000;
  color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;
}

.profil-icon {
  /*position: absolute;*/
  background-color: none;
  color: #000;
  font-size: 12px;
  top: 51%;
  right: -3%;
  text-align: right;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-right: 1%;
  padding-left: 1%;
}

.profil-icon:hover {
 /* position: absolute;*/
  color: #000;
  font-size: 12px;
  top: 51%;
  right: -3%;
  text-align: right;
  background-color: #eee;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-right: 1%;
  padding-left: 1%;
}

.profil-icon a {
  color: #000;
}

.profil-picture {
  border-radius: 50%;
  width: 4%;
  margin-right: 1%;
  margin-bottom: 1%;
}

.nav .profil-icon {
  margin-left: 28%;
  margin-right: 2%;
}

.carousel-indicators {
  display: none;
}


/*HEADER*/
/*@media (max-width: 768px) { 
  .container {
    font-family: Calibri;
  } 
  
  .navbar-toggle {
    position: relative;
    float: left;
    padding: 6px 6px 5px;
    width: 10%;
    height: 10%;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: transparent;
    background-image: none;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 0;
  }

  .navbar-toggle:focus {
    outline: 0;
    background-color: #cf021b;
    color: #fff;
  }

  .navbar-toggle .icon-bar {
    display: block;
    width: 100%;
    height: 2px;
    border: 1px solid #000;
  }

  .icon-bar:focus {
    border: 1px solid #fff; 
  }

  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
  }

  .nav-icon {
    display: none;
  }

  .container .navbar-collapse {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .container-float > hr {
    float: left;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }

  .collapse {
    margin-bottom: -5%;
  }
  
  .inline > li > a:hover, .inline > li > a:focus {
    text-decoration: none;
    background-color: #5adffe;
    padding-bottom: 13px;
  }

  .inline {
    padding: 0;
    text-align: center;
    font-family: Calibri;
    padding-bottom: 3px;
  }

  .inline > a, a:hover {
    color: #fff;
    text-decoration: none;
  }

  .inline a:focus {
    color: #fff;
    text-decoration: none;
    transition: width .5s ease, background-color .5s ease; 
  }

  .inline > a {
    color: #000;
  }

  .inline > li{
    display: block;
    position: relative;
    padding-bottom: 0;
    font-size: 15px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  .inline > li:after {
    content: '';
    display: none;
    margin: auto;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }

  .inline button, .inline a {
    display: none;
  }

  .inline > li > div {
    display: block;
    background-color: rgb(85, 85, 85);
  }

  .inline > li > div > div > button {
    display: block;
  }

  .msite-menu-login {
    display: block;
    padding-top: 5%;
    padding-left: 0%;
    padding-bottom: 15%;
  }

  .btn-masuk {
    background-color: #cacaca;
    color: #333;
    margin-left: 23%;
    margin-top: 0%;
    padding-top: 9%;
    padding-bottom: 9%;
    padding-left: 25%;
    padding-right: 25%;
  }

  .btn-daftar {
    color: #FFF;
    background-color: #C80000;
    padding-left: 20px;
    margin-left: -25%;
    margin-right: 0%;
    margin-bottom: 5px;
    padding-right: 20px;
    font-size: 14px;
    padding-top: 9%;
    padding-bottom: 9%;
  }

  .btn-daftar:hover {
    color: #FFF;
    background-color: #F00000;
  }

  .btn-red {
    margin-top: 0%;
  }

  .btn-red:hover {
    margin-top: 0%;
  }

  .msite-menu-login p {
    margin-top: 5%;
    font-size: 15pt;
    color: rgb(255, 255, 255);
  }*/

  /*#topnav #searchtoggl {
    display: block;
    float: right;
    padding: 5px 5px 6px;
    margin-right: 5%;
    margin-left: 5%;
    color: #363a3c;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }*/

  /** hidden search field **/
  /*#searchbar {
    display: none;
    float: left;
    width: 100%;
    height: 35px;
    border-top: 1px solid #d8d8d8;
    padding-left: 8%;
    padding-right: 5%;
    z-index: 9999;
    background: #fff;
    -webkit-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
    box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  }*/

  /*#s {
    display: block;
    width: 88%;
    border: 0;
    outline: none;
    padding: 0;
    height: 35px;
    line-height: 60px;
    font-size: 10pt;
    font-style: italic;
    color: #dfe1e2;
  }

  #searchsubmit {
    display: block;
    float: right;
    margin-top: 6px;
    background: none;
    color: #252525;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 15pt;
  }

  .searchnavbar {
    display: block;
  }

  .msite-video-post {
    display: none;
  }


}*/


/*MAIN*/
/*@media (max-width: 768px) { 

  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .carousel-indicators {
    display: block;
    text-align: right;
    margin-left: -15%;
    margin-bottom: 0%;
  }

  .carousel-indicators .active {
    width: 8px;
    height: 8px;
    margin: 1px;
    background-color: #cf021b;
  }

  .carousel-indicators li {
    background-color: #333;
    border: 0 solid #333;
    width: 8px;
    height: 8px;
  }

  .slide-anim5 {
    font-family: calibri;
    color:#fff;
    position:absolute;
    top: 0%;
    width: 50%;
    height: 100%;
    left: 0%;
    background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
  }

  .slide-anim5 h5{
    display: block;
    color: #fff;
    margin-left: 10%;
    margin-right: 18%;
  }

  .slide-anim5 > h3{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 18%;
    margin-bottom: 0;
    font-size: 12pt;
  }

  .slide-anim5 hr {
   display: none;
  }

  .slide-anim5 p {
   display: none;
  }

  .slide-anim5 > button {
    color: #FFF;
    background-color: transparent;
    border-color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 38px;
    margin-right: 35px;
    cursor: pointer;
  }

  .slide-anim5:hover > button {
    color: #FFF;
    background-color: transparent;
    border-color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 38px;
    margin-right: 35px;
    cursor: pointer;
  }

  .slide-anim6 {
    font-family: calibri;
    color:#fff;
    position:absolute;
    top: 0%;
    width: 50%;
    height: 100%;
    left: 0%;
    background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
  }

  .slide-anim6 h5{
    display: block;
    color: #fff;
    margin-left: 10%;
    margin-right: 18%;
  }

  .slide-anim6 > h3{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 18%;
    margin-bottom: 0;
    font-size: 12pt;
  }

  .slide-anim6 hr {
   display: none;
  }

  .slide-anim6 p {
   display: none;
  }

  .slide-anim6 > button {
    color: #FFF;
    background-color: transparent;
    border-color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 38px;
    margin-right: 35px;
    cursor: pointer;
  }

  .slide-anim6:hover > button {
    color: #FFF;
    background-color: transparent;
    border-color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 38px;
    margin-right: 35px;
    cursor: pointer;
  }

  .slide-anim7 {
    font-family: calibri;
    color:#fff;
    position:absolute;
    top: 0%;
    width: 50%;
    height: 100%;
    left: 0%;
    background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
  }

  .slide-anim7 h5{
    display: block;
    color: #fff;
    margin-left: 10%;
    margin-right: 18%;
  }

  .slide-anim7 > h3{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 18%;
    margin-bottom: 0;
    font-size: 12pt;
  }

  .slide-anim7 hr {
   display: none;
  }

  .slide-anim7 p {
   display: none;
  }

  .slide-anim7 > button {
    color: #FFF;
    background-color: transparent;
    border-color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 38px;
    margin-right: 35px;
    cursor: pointer;
  }

  .slide-anim7:hover > button {
    color: #FFF;
    background-color: transparent;
    border-color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 38px;
    margin-right: 35px;
    cursor: pointer;
  }

  .slide-anim8 {
    font-family: calibri;
    color:#fff;
    position:absolute;
    top: 0%;
    width: 50%;
    height: 100%;
    left: 0%;
    background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
  }

  .slide-anim8 h5{
    display: block;
    color: #fff;
    margin-left: 10%;
    margin-right: 18%;
  }

  .slide-anim8 > h3{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 18%;
    margin-bottom: 0;
    font-size: 12pt;
  }

  .slide-anim8 hr {
   display: none;
  }

  .slide-anim8 p {
   display: none;
  }

  .slide-anim8 > button {
    color: #FFF;
    background-color: transparent;
    border-color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 38px;
    margin-right: 35px;
    cursor: pointer;
  }

  .slide-anim8:hover > button {
    color: #FFF;
    background-color: transparent;
    border-color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 38px;
    margin-right: 35px;
    cursor: pointer;
  }

  .slide-background-size {
    display: block;
    height: 160px;
  }

  .image-background-size {
    height: 100%;
    width: 100%;
  }


  .btn-oval {
    float: right;
    margin-right: 0%;
    margin-bottom: 5%;
    padding: 10px 15px;
  }

  .msite-video-post {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }

  .addspace3 {
    background-color: #cccccc;
    width: 100%;
    height: 240px;
    margin-top: 79px;
  }

  .addspace3 > h4 {
    color: #929292;
    position: absolute;
    padding: 68px;
    padding-top: 100px;
    padding-left: 40%;
  }

  .img {
    width:100%;
    height:315px;
    margin-bottom: 20px;
  }

  .img2 {
    width:100%;
    height:315px;
    margin-bottom: 20px;
  }

  .img3 {
    width:100%;
    height:315px;
    margin-bottom: 20px;
  }

  .img6 {
    width: 100%;
  }

  .slide-anim {
    color:#fff;
    position:absolute;
    top:210px;
    width: 100%;
    height: 105px;
    background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
    cursor: pointer;
    overflow-y: hidden;
    transition: top 1.5s, opacity 1.5s;
    transition-property: all;
  }

  .slide-anim > h4{
    margin-top: 33px;
    margin-left: 35px;
    margin-right: 80px;
  }

  .slide-anim:hover{
    
    top: 40px;
    height: 275px;
  }

  .slide-anim:hover > h4 > p {
    margin-top: 33px;
    margin-left: 35px;
    margin-right: 80px;
  }

  .slide-anim:hover p {
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .slide-anim:hover > button {
    color: #FFF;
    background-color: transparent;
    border-color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .slide-anim1 {
    color:#fff;
    position:absolute;
    top: 545px;
    width: 100%;
    height: 105px;
    background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
    cursor: pointer;
    overflow-y: hidden;
    transition: top 1.5s, opacity 1.5s;
    transition-property: all;
  }

  .slide-anim1 > h4{
    margin-top: 33px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .slide-anim1:hover{
    
    top: 415px;
    height: 235px;
  }

  .slide-anim1:hover p {
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .slide-anim1:hover > button {
    color: #FFF;
    background-color: transparent;
    border-color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .pad-img {
    padding-left: 0;
    padding-right: 0;
  }

  .slide-anim2 {
    color:#fff;
    position:absolute;
    top: 190px;
    width: 100%;
    height: 125px;
    background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
    cursor: pointer;
    overflow-y: hidden;
    transition: top 1.5s, opacity 1.5s;
    transition-property: all;
  }

  .slide-anim2 > h4{
    margin-top: 33px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .slide-anim2:hover{
    
    top: 40px;
    height: 275px;
  }

  .slide-anim2:hover p {
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .slide-anim2:hover > button {
    color: #FFF;
    background-color: transparent;
    border-color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .btn-loadmore {
    color: #fff;
    background-color: #cf021b;
    width: 100%;
    border-radius: 0; 
  }

  .content-podcast .schedule {
    padding-left: 0;
  }

  .slide-schedule {
    color:#fff;
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(102, 91, 91, 0.43) none repeat scroll 0% 0%;
    cursor: pointer;
  }

  .slide-schedule h5{
    display: block;
    padding-left: 25px;
    padding-top: 20px;
  }

  .slide-schedule > h4 {
    padding-left: 25px;
    padding-top: 0;
    padding-right: 65px;
    font-size: 20pt;
  }

  .slide-schedule > p {
    padding-left: 25px;
    padding-right: 65px;
    margin-bottom: 5px;
  }

  .radioschedule {
    width: 100%;
    height: 260px;
    background-color: #fff;
    padding-right: 0;
  }

  .doctors-menu {
    width: 100%;
    height: 100%;

  }

  .dokterclass {
    color:#fff;
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.68) none repeat scroll 0% 0%;
    cursor: pointer;
  }

  .dokterclass h4 {
    color: #cf021b;
    font-size: 24px;
    padding-left: 25px;
    padding-top: 5px;
  }

  .dokterclass p {
    color: #555;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    margin-bottom: 2px;
    margin-top: 10px;
    padding-bottom: 0;
    line-height: 18px;
  }

  .dokterclass span {
    color: #cf021b;
    padding-left: 25px;
  }

  .dokterclass em {
    color: #555;
    padding-left: 10px;
  }

  .dokterclass h5 {
    color: #cf021b;
    text-align: center;
  }

  .judul {
    display: none;
  }

  .judul h5{
    display: none;
  }


}*/

/*FOOTER*/
/*@media (max-width: 768px) { 
  .greyfooter {
    background-color: #222;
    height: 330px;
  }

  .greyfooter h4{
    color: #fff;
  }

  .greyfooter p{
    color: #fff;
    font-size: 10pt;
    padding-top: 10px;
    padding-right: 0;
    text-align: justify;
  }

  .btn-footer {
    position: absolute;
    right: 15px;
    border-radius: 0;
    margin-left: 70.3%;
    margin-top: -9.5%;
    
  }

  .btn-footer:hover {
    color: #FFF;
    background-color: #F00000;
    position: absolute;
    margin-left: 70.3%;
    margin-top: -9.5%;
  }

  .link-padding div {
    padding-left: 0;
    padding-right: 0;
  }

  .input-group-size {
    width: 74%;
  }

  .blackfooter {
    background-color: #000;
    height: 100%;
  }

  .reserved p {
    padding-bottom: 10%;
    padding-top: 2%;
    margin-bottom: 0;
    text-align: center;
  }

  .bottom-link p {
    text-align: center;
    margin-bottom: 0;
    padding-top: 5%;
    font-size: 14px;
    font-family: calibri;
  }

  .sosmed-bottom-padding {
    background-color: #c80000;
    margin-bottom: 0;
    margin-top: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 25px;
    border-radius: 5px;
  }

  .sosmed-bottom-padding p {
    margin-top: 5px;
  }

  .bottom-icon {
    position: absolute;
    top: 55%;
    left: 20%;
  }

  .bottom-icon a{
    color: #fff;
    margin-left: 5px;
  }

  .bottom-icon a:hover{
    color: #c80000;
    background-color: #fff;
    border-radius:50px;
    width: 50px;
    height: 50px;
  }

  .bottom-icon li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    margin-left: 5px;
  }

  .bottom-icon span{
    border-radius: 50px;
    border-radius:50px;
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    width: 50pc;
    height: 50px;
  }

  .iconSocial {
    margin: 4%;
    float: center;
    clear: both;
    margin-left: 72px;
    margin-top: -38px;
    margin-bottom: 3px;
  }
  .iconSocial i {
    cursor: pointer;
    display: inline-block;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }

  .iconSocial i:before {
      font-size: 20px;
  }

  .iFacebook .fa-facebook {
    color: #fff;
    border-radius: 50%;
    padding: 0.85em;
    position: relative;
    bottom: -4px;
    background: transparent;
    bottom: -3px;
    width: 40px; 
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 15px;
  }

  .iFacebook:hover .fa-facebook {
    background: #fff;
    color: #c80000;
    opacity: 1;
  }

  .iInstagram .fa-instagram {
    color: #fff;
    border-radius: 50%;
    padding: 0.85em;
    position: relative;
    background: transparent;
    width: 40px; 
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .iInstagram:hover .fa-instagram {
    background: #fff;
    color: #c80000;
    opacity: 1;
    padding-top: 11px;
  }


  .iTwitter .fa-twitter {
    color: #fff;
    border-radius: 50%;
    padding: 0.85em;
    position: relative;
    background: transparent;
    bottom: -1px;
    width: 40px; 
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .iTwitter:hover .fa-twitter {
    background: #fff;
    color: #c80000;
    opacity: 1;
    padding-top: 11px;
  }
  .iYoutube .fa-youtube {
    color: #fff;
    border-radius: 50%;
    padding: 0.8em;
    position: relative;
    bottom: -1px;
    background: transparent;
    width: 40px; 
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .iYoutube:hover .fa-youtube {
    background: #fff;
    color: #c80000;
    opacity: 1;
    padding-top: 11px;
  }


}*/

/* Custom CSS */
#services .container {
  padding: 0 100px;
}

#services .service-item {
  max-width: 220px;
  margin: 0 auto;
}

#services .service-item {
  text-align: center;
  margin-bottom: 100px;
}

section.features .device-container {
  margin-bottom: 100px;
}

#services .service-item img {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

#services .service-item h3 {
  font-size: 20px;
  font-weight: bold;
}

/*header .container {
  padding: 200px 0 50px 0;
}*/

section {
  padding: 200px 0 50px 0;
}

.section-heading,
.section-heading-article {
  margin-top: 0;
}

.section-heading {
  text-transform: uppercase;
}

span.published-article {
 margin-top: 0;
 margin-bottom: 30px;
}

/*header {
  text-align: center;
  background: #1eaf5b;
}*/

hr.primary {
  max-width: 100px;
  border-width: 3px;
  border-color: #F05F40;
}

.head-line-article {
    text-align: center;
    width: 34%;
    border-bottom: 5px solid !important;
    color: #5adffe;
    margin-top: 0;
    margin-bottom: 5px;
}

.article-post p {
  text-align: justify;
}

.article-right {
  text-align: center;
  background-color: #4bc2bf;
  color: #fff;
  text-transform: uppercase;
}

/* Article */
.article-list .post {
  padding: 0 15px;
  margin-bottom: 30px;
}

.article-list .post .post-inner {
  padding: 0px;
  position: relative;
  border: 1px solid #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}

.article-list .post .post-thumb {
  background: #253340;
  overflow: hidden;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.article-list .post .post-thumb img {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
  width:100%;
  height: auto;
  text-align: center;
}

.article-list .post .post-thumb img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.article-list .post .content {
  padding: 30px;
  padding-bottom: 15px;
  color: #666;
  background: #fff;
}

.article-list .post .content .post-title {
  margin-top: 0;
  font-size: 18px;
}

.article-list .post .content .post-title a {
  color: #253340;
}

.article-list .post .content .post-entry {
  margin-bottom: 15px;
}

.article-list .post .content .meta {
  font-size: 13px;
  color: #999;
  margin-bottom: 0;
}

.article-list .post .content .meta ul {
  margin-left: 0;
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.article-list .post .content .meta li:first-child {
  padding-left: 0;
}

.article-list .post .content .meta li .fa {
  margin-right: 5px;
}

.article-list .post .content .meta li a {
  color: #999;
}

.article-list .post .content .meta li a:hover {
  color: #ec6952;
}

/* ======= Pagination ======= */
.pagination {
  margin-bottom: 60px;
  font-size: 14px;
  font-family: arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.vid-list-container {
    height: 25em;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    padding-bottom: 20px;
}

.vid-list {
    width: 2690px;
    position: relative;
    top:0;
    left: 0;
}

.vid-item {
    display: block;
    width:300px;
    height: 200px;
    float: left;
    margin: 0;
    padding-right: 30px;
}

.vidBorder {
    position: relative;
    border: 1px solid #d2d2d2;
}

.wordArt {
    height: 20px;
    background-color: #4bc2bf;
    color: #FFF;
    position: absolute;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-top: 4px;
    z-index: 100;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 0px;
    font-size: 8px;
    letter-spacing: 2px;
    right: 0;
}

.thumb {
    /*position: relative;*/
    overflow:hidden;
    height: 170px;
}

.thumb img {
    width: 100%;
    position: relative;
    top: -13px;
}

.vid-item .desc {
    color: #000;
    font-size: 16.5pt;
    margin-top: 7px;
    text-align: left;
    padding: 0px 20px 0 20px;
    -webkit-text-stroke-width: 0.7px;
}

.vid-timeWeek {
    text-align: left;
    padding: 7pt 20px 25px 20px;
    font-size: 7pt;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 1pt;
}

.vid-time {
    text-align: left;
    margin-top: 3pt;
    margin-bottom: 14px;
    font-size: 12px;
    color: #000000;
    letter-spacing: 1pt;
}

.vid-arrows-container {
  width: 100%;
  max-width: 1280px;
  background: #fff;
  margin: 0 auto;
}

.arrows {
  position:relative;
  width: 100%;
}

.arrow-left {
  color: #777;
  position: absolute;
  padding: 10px;
  left: -60px;
  top: -260px;
  z-index: 99;
  cursor: pointer;
  font-size: 50px;
} 

.arrow-right {
  color: #777;
  position: absolute;
  padding: 15px;
  right: -60px;
  top: -260px;
  z-index: 100;
  cursor: pointer;
  font-size: 50px;    
}

.item-top {
  margin-top: 20px;
}

/* ======= Blog Slideshow ======= */
.slider {
  padding: 130px 0 0 0;
}

.img-slider {
  margin-bottom: 30px;
  /*margin-top: 80px;*/
  border: none;
  height: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.img-slider .slide {
  display: block;
  height: 100%;
  /*background-color: #253340;*/
}

.img-slider .slide:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*background: rgba(0, 0, 0, 0.05);*/
  z-index: 10;
}

.img-slider .slide img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.img-slider .flex-control-nav {
  bottom: 15px;
  z-index: 0;
}

.img-slider .flex-control-nav li a {
  background: #5e5e5e;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.img-slider .flex-control-nav li a.flex-active {
  background: #fff;
}

.img-slider .flex-direction-nav a {
  text-shadow: none;
  color: #fff;
  position: absolute;
  width: 30px;
  height: 50px;
  display: block;
}

.img-slider .flex-direction-nav a.flex-prev {
  left: 5%!important;
}

.img-slider .flex-direction-nav a.flex-prev:before {
  content: "";
  text-indent: -9999px;
  background: url('/images/carousel-arrow-prev.png') no-repeat left top;
  display: block;
  width: 30px;
  height: 50px;
}

.img-slider .flex-direction-nav a.flex-next {
  right: 5%!important;
}

.img-slider .flex-direction-nav a.flex-next:before {
  content: "";
  text-indent: -9999px;
  background: url('/images/carousel-arrow-next.png') no-repeat right top;
  display: block;
  width: 30px;
  height: 50px;
}

.img-slider:hover .flex-prev {
  left: 5%!important;
}

.img-slider:hover .flex-next {
  right: 5%!important;
}

/* ======= Testimonials ======= */
.testimonials {
  background: #5adffe;
  padding-top: 60px;
  padding-bottom: 110px;
}

.testimonials .carousel-indicators {
  bottom: -60px;
  z-index: auto;
}

.testimonials .carousel-indicators li {
  background: #ccc;
  border: none;
  margin: 1px;
}

.testimonials .carousel-indicators li.active {
  background: #ffffff;
  border: none;
  width: 10px;
  height: 10px;
  margin: 1px;
}

.testimonials .title {
  font-size: 36px;
  margin-top: 0;
}

.testimonials .item {
  height: 200px;
}

.testimonials .item .profile {
  position: absolute;
  left: 0;
}

.testimonials .item .content {
  padding-left: 210px;
}

.testimonials .item blockquote {
  font-size: 20px;
  font-weight: 300;
  border-left: 0;
  padding: 0;
  position: relative;
}

.testimonials .item blockquote .fa {
  position: absolute;
  /*color: #ef7d69;*/
  font-size: 22px;
  left: -45px;
}

.testimonials .item .source {
  color: #ec6952;
}

.testimonials .item .source .title {
  font-size: 16px;
  color: #666;
}

/** Form **/
#register-btn {
  display: block;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.6;
}

/* ======= Footer ======= */
.footer {
  background: #253340;
  color: #fff;
  padding-top: 40px;
  font-size: 14px;
  position: relative;
  z-index: 1;
}
.footer p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.footer img {
  width: 70%;
}

.footer .btn-cta,
.footer a.btn-cta {
  padding: 9px 10px;
}
.footer .footer-col.links .fa {
  margin-right: 5px;
}
.footer .footer-col.links li {
  margin-bottom: 10px;
}
.footer .footer-col.connect .social {
  margin-bottom: 15px;
  overflow: hidden;
}
.footer .footer-col.connect .social li {
  margin-right: 10px;
}
.footer .footer-col.connect .social li a .fa {
  color: #b3b3b3;
  font-size: 22px;
}
.footer .footer-col.connect .social li a:hover .fa {
  color: #ec6952;
}
.footer .footer-col.connect .btn-cta-primary {
  background: #5d80a1;
  border-color: #5d80a1;
}
.footer .footer-col.connect .btn-cta-primary:hover {
  background: #4a6781;
  border-color: #4a6781;
}
.footer .footer-col .title {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.footer .footer-col p {
  color: #fff;
}
.footer .footer-col a {
  color: #6d8dab;
}
.footer .footer-col a:hover {
  color: #8da6bd;
}
.footer .footer-col .navbar-form {
  padding-left: 0;
  padding-right: 0;
}
.footer .footer-col .navbar-form .form-control {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.footer .footer-col .navbar-form .form-control:focus {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .has-divider {
  border-top: 1px solid #2b3b4a;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .download .download-list li {
  margin-bottom: 15px;
}
.footer .download .download-list li .btn-ghost {
  text-align: left;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  width: 230px;
}
.footer .download .download-list li .btn-ghost:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .contact p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.footer .contact p a {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .contact .fa {
  margin-right: 10px;
  font-size: 20px;
}
.footer .contact .email .fa {
  font-size: 16px;
}
.footer .bottom-bar {
  background: #1e1e1e;
  color: #b3b3b3;
  font-size: 14px;
  padding: 10px 0;
}
.footer .bottom-bar .copyright {
  line-height: 1.6;
}
a.btn-ghost,
.btn-ghost {
  background: none;
  border: 1px solid #fff;
  color: #fff !important;
  padding: 8px 20px;
  vertical-align: middle;
}
a.btn-ghost:hover,
.btn-ghost:hover {
  background: #4a6781;
  border: 1px solid #4a6781;
  color: #fff;
}
a.btn-ghost .fa,
.btn-ghost .fa {
  margin-right: 10px;
  font-size: 22px;
}
a.btn-ghost .text,
.btn-ghost .text {
  position: relative;
  top: -2px;
}
.navbar-form .form-control {
    width: 280px;
}

.form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 40px;
    border-color: #eee;
}