button.navbar-toggle {
    padding: 5px 10px;
    border-radius: 0;
    margin-top: -15%;
    margin-right: 0%;
}
/*.small-footer li a {
    color: #666;
}*/

@media(min-width: 1440px) and (max-width: 2000px) {
/*begin header*/
.btnLogin{
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	font-size: 14px;
	margin-top: 10px;
	color: black;
}
.btn-default {
    border-radius: 20px!important;
}

.btn-default:hover {
    background-color: #2BB96F!important;
}
/*.navbar{
	margin-bottom: 0%!important;
	margin-top: 2%;
	text-align: center;
}
.navbar hr {
	margin:-3px;
}*/
.headerTop{
	padding-bottom: 15px;	
}
.headLogo img {
	  width: 45%;
	  text-align: center;
}
.pull-left {
	margin-top: 2%;
	left: -5%;
}
.pull-right {
	margin-top: 2%;
}
.pull-right .fa .fa-search {
	color: #000;
}
#menu ul{
  list-style: none;
  margin: 1%;
}
#menu li{
  display: inline;
  margin: 2%;
}
#menu li a {
	color: #000;
	position: relative;
	text-decoration: none;
	padding-bottom: 1% !important;
}
#menu li a:hover {
  color: #000;
}
#menu li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #2bb96f;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  margin-top: 2% !important;
}
#menu li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*.inline{
  margin:10px 0px -25px 70px;
}*/
.inline a{
  color: #000000;
  text-decoration: none; 

}
.inline a:hover {
  color: #000000;
  text-decoration: none;
}

.inline a:focus {
  color: #2BB96F;
  text-decoration: none; 
}

.inline > a {
  background-color: #fff;
  color: #000;
}

.inline > li{
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 30px;
  font-size: 15px;
  color:#000;
}
.inline > li:last-child {
  margin-right: 0;
}

.inline > li:after {
  content: '';
  display: block;
  margin: auto;
  height: 5px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.inline > li:hover:after {
  width: 100%;
  background: #2BB96F;
}

.inline > li > div {
  display: none;
}
.nav li > a{
	padding: 5px 15px!important;
}
/*end header*/

.paragraf {
    text-align: justify;
    margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
    padding-top: 0px;
	background-color:#ffffff;
	color: #555555;
	font-family: OpenSans;
	font-size: 14px;
}
.paragraf .quote {
	text-align: justify;
    margin: 10px 20px 20px;
    padding-right: 20px;
	background-color:#ffffff;
	color: #333333;
	font-family: OpenSans;
	font-size: 14px;
	font-style: italic;	
} 

.iklanKananAtas {
	margin: 40px 0 0 -3px;
	position: relative;
	height: 20em;
	width: 15em;
	border-width:1em;
	background-color: #9093A2;	
}
.iklanKananAtas h4 {
    color: #1C1C1A;
	text-align:center;
	padding: 7em 0 0 0;
}

.bg-paragraf {
	background-color: #2ABA6F;
	padding: 10px 15px 10px 15px;
	color: #fff;
}
.foto{
	margin-left:0px;
	width:30%;
}
.fotoKanan{
	margin-right:10px;
	width:40%;
}
.fotoAkun img{
	width: 60%;
	text-align:left;
	margin:0 0 0 50px;
}


/*footer*/
footer {
    margin: 50px 0;
}

#footer {
	padding-top: 2%;
	padding-bottom: 0%;
	text-align: center;
	background-color: #333333;
	color: white;
}

#form-kontrol {
	padding-left: 35%;
	padding-right: 35%;
}



.down {
    margin: auto;
    position: absolute;
    top: 0; left: 56%; bottom: 0; right: 0;
}

.down {
    margin: auto;
    position: relative;
    top: 0; left: 0%; bottom: 0; right: 0;
}	

fieldset {
	border-top: 5px solid #2bb96f !important;
	margin: 2px 5px 0 0px;
	min-width: 0;
	padding: 0px;
	position: relative;
	border-radius: 0px;
	padding-left: 10px!important;
	text-align: center;
}
legend {
	font-size:14px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: 50%; 
	border: 0px;
	border-radius: 4px; 
	padding: 0px; 
	background-color: #ffffff;
}

.spacing{
	margin-top:30px;
}



/*Begin Tema Terkait*/
.col-md-3 h5 {
	text-align: left;
}
.col-md-3 h6 {
	text-align: left;
	text-transform:uppercase;
}
.col-md-3 legend > h6 {
	text-align: center;
}
/* End Tema Terkait*/

/* Begin Teks Jawaban*/
.paragraf h4 > b{
	color:#000;
}
/* End Teks Jawaban*/


/*begin header*/
@media(min-width: 768px) and (max-width: 1439px) {
.line {
	margin-top: 60px;
}
.line > hr{
	height: 0px!important;
    margin: 0 40px 20px 0!important;
}
.btnGrey{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.KATEGORI{
     margin-top: 5px;
    margin-left: -30px!important;
    margin-right: -30px!important;
}
.btnSosmed i {
	margin-right: 10px;
}
.btnLogin{
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	font-size: 14px;
	margin-top: 10px;
	color: black;
}
.btn-default {
    border-radius: 20px!important;
}

.btn-default:hover {
    background-color: #2BB96F!important;
}
.btnSosmed{
	padding-top: 20px;
	padding-bottom: 10px;
}
.navbar hr {
	margin:-3px;
}
.headerTop{
	padding-bottom: 15px;	
}
.navbar {
	margin-top: 2%;
	text-align: center;
}
.headLogo img {
	  width: 45%;
	  text-align: center;
}
.pull-left {
	margin-top: 2%;
	left: -5%;
}
.pull-right {
	margin-top: 0%;
}
.pull-right h6 {
	margin-right: -15px;
	color: #898989;
	letter-spacing: -0.3px;
	font-size: 11.5px;
	font-family: OpenSans;
	text-transform: uppercase;
}
.pull-right .fa .fa-search {
	color: #000;
}
/*#menu ul{
  list-style: none;
  margin: 1%;
}*/
#menu li{
  display: inline;
  margin: 2%;
}
#menu li a {
	color: #000;
	position: relative;
	text-decoration: none;
	padding-bottom: 1% !important;
}
#menu li a:hover {
  color: #000;
}
#menu li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #2bb96f;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  margin-top: 2% !important;
}
#menu li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.inline{
  margin:10px 0px -25px 70px;
}
.inline a{
  color: #000000;
  text-decoration: none; 

}
.inline a:hover {
  color: #000000;
  text-decoration: none;
}

.inline a:focus {
  color: #2BB96F;
  text-decoration: none; 
}

.inline > a {
  background-color: #fff;
  color: #000;
}

.inline > li{
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 30px;
  font-size: 15px;
  color:#000;
}
.inline > li:last-child {
  margin-right: 0;
}

.inline > li:after {
  content: '';
  display: block;
  margin: auto;
  height: 5px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.inline > li:hover:after {
  width: 100%;
  background: #2BB96F;
}

.inline > li > div {
  display: none;
}
.nav li > a{
	padding: 5px 15px!important;
}
/*end header*/
/*tips*/
.tipsBig{
    height: 25px;
    background-color: #2BB96F;
    color: #FFF;
    position: absolute;
    padding-right: 22px;
    padding-bottom: 0px;
    padding-left: 22px;
    padding-top: 6px;
    z-index: 100;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 50px;
    font-size: 10px;
}
.wordArt {
    height: 20px;
    background-color: #2BB96F;
    color: #FFF;
    position: absolute;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-top: 4px;
    z-index: 100;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 7px;
    border-radius: 50px;
    font-size: 8px;
    letter-spacing: 2px;
}
/*tips*/
.paragraf {
    text-align: justify;
    margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
    padding-top: 0px;
	background-color:#ffffff;
	color: #555555;
	font-size: 14px;
}
.paragraf .quote {
	text-align: justify;
    margin: 10px 20px 20px;
    padding-right: 20px;
	background-color:#ffffff;
	color: #333333;
	font-size: 14px;
	font-style: italic;	
} 

.iklanKananAtas {
	margin: 40px 0 0 -3px;
	position: relative;
	height: 20em;
	width: 15em;
	border-width:1em;
	background-color: #9093A2;	
}
.iklanKananAtas h4 {
    color: #1C1C1A;
	text-align:center;
	padding: 7em 0 0 0;
}

.bg-paragraf {
	background-color: #2ABA6F;
	padding: 10px 15px 10px 15px;
	color: #fff;
}
.foto{
	margin-left:0px;
	width:30%;
}
.fotoKanan{
	margin-right:10px;
	width:40%;
}
.fotoAkun img{
	width: 60%;
	text-align:left;
	margin:0 0 0 50px;
}


/*footer*/
footer {
    margin: 50px 0;
}

#footer {
	padding-top: 2%;
	padding-bottom: 0%;
	text-align: center;
	background-color: #333333;
	color: white;
}

#form-kontrol {
	padding-left: 35%;
	padding-right: 35%;
}


.icon {
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 10px;
}

.icon > li {
	display: inline-block;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}

.icon a {
	color: #FFF;
}

.icon > li:hover {
	background-color: #2BB96F;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.down {
    margin: auto;
    position: absolute;
    top: 0; left: 56%; bottom: 0; right: 0;
}


.icon {
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 10px;
}

.icon > li {
	display: inline-block;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}

.icon a {
	color: #FFF;
}

.icon > li:hover {
	background-color: #2BB96F;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.down {
    margin: auto;
    position: relative;
    top: 0; left: 0%; bottom: 0; right: 0;
}	

.sosmed {
	position: fixed; 
	top: 263px; 
	left: 59px;"
}
.sosmed-form{
	height: 220px;
	background-color: rgba(255, 255, 255, 0);
	position: fixed;
	margin-left: 0px;
	text-decoration: none;
}
.sosmed-form label {
 padding-left: 15px;
 font-size: 18px;
/* font-family: calibri;*/
 font-style: regular;
 color: white;
 display: none;
}
.sosmed-form .test {
 float: left!important;
 transition: all 0.35s, border-radius 0s;
 width: 40px;
 height: 40px;
 background-color: #fff;
 box-shadow: 0 1px 1px rgba(60, 88, 154, 0.075) inset;
 border-radius: 25px;
 border: 1px solid #3c589a;
 color: #3C589A;
padding-left: 3px;
padding-top: 8px;
}

.test span {
 font-size: 18px;
 padding-left: 7px;
}
.sosmed-form .test:hover{
 background:  #ea4335;
 color: white;
 width: 150px;
 border-radius: 25px 25px 25px 25px;
 border: 1px solid #ea4335;
}
.sosmed-form .test:hover > label{
 display:inline-block;
}
.sosmed-form .form-group {
 float: leaft !important;
 transition: all 0.35s, border-radius 0s;
 width: 40px;
 height: 40px;
 background-color: #fff;
 box-shadow: 0 1px 1px rgba(60, 88, 154, 0.075) inset;
 border-radius: 25px;
 /* border: 1px solid #3c589a; */
 color: #3c589a ;
   
}

.sosmed-form .form-group input.form-control {
 padding-left: 50px;
 border: 0 none;
 background: transparent;
 box-shadow: none;
 font-size: 18px;
/* font-family: calibri;*/
 font-style: regular;
 /* color: #fff; */
 display:block;
}.sosmed-form .form-group input.form-control::-webkit-input-placeholder {
 display: none;
 color: #ffffff;
}.sosmed-form .form-group input.form-control:-moz-placeholder {
 /* Firefox 18- */
 display: none;
 color: #ffffff;
 }.sosmed-form .form-group input.form-control::-moz-placeholder {
 /* Firefox 19+ */
 display: none;
 color: #ffffff;
}.sosmed-form .form-group input.form-control:-ms-input-placeholder {
 display: none;
 color: #ffffff;
}
.sosmed-form .form-group.hover {
	 background:  #ea4335;
	 color: white;
	 width: 50%;
	 border-radius: 25px 25px 25px 25px;
	 border: 1px solid #ea4335;
}

fieldset {
	border-top: 5px solid #2bb96f !important;
	margin: 2px 5px 0 0px;
	min-width: 0;
	padding: 0px;
	position: relative;
	border-radius: 0px;
	padding-left: 10px!important;
	text-align: center;
}
legend {
	font-size:14px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: 50%; 
	border: 0px;
	border-radius: 4px; 
	padding: 0px; 
	background-color: #ffffff;
}

.spacing{
	margin-top:30px;
}

/*begin footer*/

/*
.footer-logo {
	width: 7%;
	margin: 0 auto;
	margin-top: 2%;
}
.subject-footer {
	margin-top: 2%;
	color: #fff;
	text-align: center;
	padding: 0 13em 0 13em;
}

/*search bar*/
/*.footer-search {
	margin: 0 auto;
  float: none;
}
.footer-search input {
	border-radius: 0px !important;
	background-color: #555 !important;
	border: none!important;
}
/*end search bar*/
/*
.icon-social li {
	display: inline;
	border-color: #FFF;
	border-style: solid;
	border-width: 2px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}
.icon-social ul{
    padding-left: 0px;
    text-align: center;
    margin-top: 30px!important;
}
.icon-social a {
	color: #FFF;
}
.icon-social li:hover {
	background-color: #2BB96F;
	border-color: #2BB96F;
}*/
/*end icon social*/
/*.small-footer {
	background-color: #222;
	width: 100%;
	padding-top: 0.5px;
	padding-bottom: 0.5px;
	text-align: center;
}
.small-footer ul{
  list-style: none;
  margin: 1%;
  height: 20px;
}
.small-footer li{
  display: inline;
  margin: 2%;
}
.small-footer li a {
	color: #666;
}
*//*end footer*/

/*Begin Tema Terkait*/
.col-md-3 h5 {
	text-align: left;
}
.col-md-3 h6 {
	text-align: left;
	text-transform:uppercase;
}
.col-md-3 legend > h6 {
	text-align: center;
}
/* End Tema Terkait*/

/* Begin Teks Jawaban*/
.paragraf h4 > b{
	color:#000;
}
/* End Teks Jawaban*/
/*text left*/
.textLeft{
	padding-left:0px;
}
/*text left*/

/*text right*/
.textRight{
    padding-left: 25px;
    padding-right: 15px;
}
.textRight h2{
    margin-top: 0px;
    text-align: left;
    font-family: OpenSans;
    font-size: 26px;
    -webkit-text-stroke-width: 0.2px;
}
.textRight p{
	text-align: justify;
    color: #454545;
    font-size: 14.5px;
    font-family: OpenSans;
    line-height: 19px;
}
/*text right*/

.widthKirim{
	padding-left: 15px;
	padding-right: 0px;
	text-align: center;
	width: 5em;
}
.Kirim {
	background-color: grey;
    padding-top: 15.5%;
    padding-bottom: 15.5%;
    padding-left: 0%;
    padding-right: 0%;
    font-size: 14px;
}
.Kirim:hover{
	background-color: #3fcd83;
}
.Kirim span {
  color: #fff;
  border-radius: 0px;
  font-size: 15px;
}
.Kirim p {
  color: #fff;
  border-radius: 0px;
}
.labelAngka {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
hr{
	margin:0 0 20px 0!important;
}
.center{
	text-align:center;
}
}

@media(min-width: 320px) and (max-width: 767px) {
.videoLeft{
	padding-left: 8px;
}
.tipsBig{
    height: 20px;
    background-color: #2BB96F;
    color: #FFF;
    position: absolute;
    padding-right: 19px;
    padding-bottom: 18px;
    padding-left: 19px;
    padding-top: 6px;
    z-index: 100;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    border-radius: 50px;
    font-size: 7pt;
    letter-spacing: 0.3px;
    font-family: OpenSans;
}
.wordArt {
    height: 17px;
    background-color: #2BB96F;
    color: #FFF;
    position: absolute;
    padding-right: 15px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-top: 2px;
    z-index: 100;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 50px;
    font-size: 8px;
}

.lineHorizontal > br, hr{
	height: 10px!important;
}

/*text left*/
.textLeft{
	padding-left:0px;
}
/*text left*/
.textCenter {
	padding-left: 8px;
	padding-right: 8px;
}
.textCenter h4 {
    text-align: left;
    padding-top: 25px;
    -webkit-text-stroke-width: 0.3px;
    margin-bottom: -5px;
}
.textCenter p{
	text-align: justify;
    font-family: OpenSans;
    font-size: 9.5pt;
    -webkit-text-stroke-width: 0.2px;
    color: #454545;
    padding-bottom: 12px;
}
.pull-right h6 {
	font-size: 8pt;
	color: #d2d2d2;
	text-transform: uppercase;
    letter-spacing: 0.2px;
}
/*text right*/
.textRight{
    padding-left: 5px;
    padding-right: 5px;
}
.textRight h2{
	margin-top:0px;
}
.textRight p{
	text-align: justify;
}
/*text right*/

/*begin footer*/
.btn{
	background-color: #2BB96F!important;
}
.btn-red {
    margin-top: 0;
    color: #fff;
  }
/*.greyfooter {
	background-color: #333;
    margin-top: 30px;
}*/
.footer-logo {
	width: 27% !important;
    margin-top: 10% !important;
    margin-left: 43% !important;
}
.subject-footer {
	margin-top: 2%;
	color: #A0A0A0;
	text-align: center;
	padding: 0 25px 0 25px;
}

/*search bar*/
.footer-search {
    margin-left: 4.5% !important;
    margin-right: 2% !important;
    margin-top: 0 !important;
    margin-bottom: 7% !important;
}
/*.footer-search input {
    border-radius: 0px !important;
    background-color: #555 !important;
    border: none!important;
    margin-bottom: 12%;
}*/
/*end search bar*/
/*
.icon-social li {
	display: inline;
	border-color: #FFF;
	border-style: solid;
	border-width: 2px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}
.icon-social ul{
	padding-left: 0px;
	text-align: center;
}
.icon-social a {
	color: #FFF;
}*/
.pull-leftLogo {
    margin-top: 4%;
    margin-left: 10px;
    left: -6%;
    font-size: 12px;
    text-transform: uppercase;
    color: #6C6C6c;
    width: 37.8%;
    float: left;
}
.navbar {
	margin-bottom: 4px;
}
.title {
	text-align: left;
}
.title > b {
	font-size: 18px!important;
}
.icon-social li:hover {
	background-color: #2BB96F;
	border-color: #2BB96F;
}
.pilih-kategori {
	margin-bottom: 5%;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #2bb96f;
    font-size: 15px;
    background: #fff url("../images/pages/arrowdown.png") no-repeat 95% 50%;
    border: 1px solid #2bb76e;
    width: 105%;
    height: 40px;
    font-style: italic;
    border-radius: 0px;
    font-size: 16px;
    margin-left: -2.5%;
    padding-left: 18%;
}
  .pilih-kategori:focus {
    background-color: #fff;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #2bb76e;
    background: #fff url("../images/pages/arrowdown.png") no-repeat 95% 50%;
    border: 1px solid #2bb76e;
    margin-left: -6%;
    width: 110%;
    margin-bottom: 10%;
    text-align: center;
  }
  .form-control.pilih-kategori option {
    background-color: rgb(255, 255, 255);
    color: rgb(43, 183, 110);
    border: 1px solid rgb(43, 183, 110);
    text-align: center;
    font-size: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
   .form-control.pilih-kategori option:focus {
    background-color: #2bb76e;
    color: #fff;
    border: 1px solid rgb(43, 183, 110);
    text-align: center;
    font-size: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

.other{
	text-align: center;
}
.other button {
    /*margin-bottom: 10px;*/
    margin-top: -30px;
    background-color: #fff!important;
    border: 2px solid #2abb70;
    padding: 1% 7% 1% 7%;
    color: #2bb96f;
    font-size: 16px;
    width: 90%;
    height: 40px;
 }
.other button:hover {
    margin-bottom: 10px;
    margin-top: -30px;
	background-color:#2bb96f!important;
    border: 1px solid #2abb70;
    color: #2abb70;
	}
.other button:focus {
    margin-bottom: 10px;
    margin-top: -30px;
	background-color:#0e8e4c!important;
    border: 1px solid #2abb70;
    color: #fff;
	}
.btnOther{
	border-radius: :0px;
}
.sub-title {
	border-top: 7px solid #2abb70;
    width: 15%;
    margin-top: 5px;
    margin-left: 8px;
	}
.subject-footer {
    margin-top: 8% !important;
    margin-bottom: 8% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.small-footer {
    padding-top: 4.5px !important;
	padding-bottom: 35.5px;
    margin-top: -1% !important;
}
.btn-backtop {
    background-color: #2bb96f;
    color: #fff;
    font-size: 20px;
    padding: 5px 12px;
    margin-left: 86%;
    margin-top: 3%;
    position: relative;
	}
.backtop {
    margin-bottom: 10%;
	}
.footer-search input {
	margin-bottom:0px;
	width: 121%;
    margin-left: -10%;
}
.greyfooter {
    height: 22em!important;
}
/*end footer*/